<div class="container">
    <div class="row">
        <form action="/report/control/file" target="_blank" method="GET" class="col-12 card">
            <div class="card-body">

                <label class="w-100">
                    <span>Fecha</span>
                    <input type="date" name="date" class="form-control w-full" />
                </label>

                {{!-- <label class="w-100">
                    <span>Mes</span>
                    <select type="text" name="month" class="form-control w-full">
                        <option value="" selected>seleccione un mes</option>
                        <option value="01">Enero</option>
                        <option value="02">Febrero</option>
                        <option value="03">Marzo</option>
                        <option value="04">Abril</option>
                        <option value="05">Mayo</option>
                        <option value="06">Junio</option>
                        <option value="07">Julio</option>
                        <option value="08">Agosto</option>
                        <option value="09">Septiembre</option>
                        <option value="10">Octubre</option>
                        <option value="11">Noviembre</option>
                        <option value="12">Diciembre</option>
                    </select>
                </label> --}}
                
                <label class="w-100">
                    <span>Máquina</span>
                    <select type="text" name="machine" class="form-control w-full">
                        <option value="" selected>seleccione un estado</option>
                        {{#each machineList}}
                            <option value="{{this.machineId}}">{{this.name}} - {{this.machineId}}</option>
                        {{/each}}
                    </select>
                </label>

                <label class="w-100">
                    <span>Producto</span>
                    <select type="text" name="product" class="form-control w-full">
                        <option value="" selected>seleccione un estado</option>
                        {{#each productList}}
                            <option value="{{this.productId}}">{{this.name}} - {{this.productId}}</option>
                        {{/each}}
                    </select>
                </label>

                <label class="w-100">
                    <span>Materia Prima</span>
                    <select type="text" name="rawmatter" class="form-control w-full">
                        <option value="" selected>seleccione un estado</option>
                        {{#each rawmatterList}}
                            <option value="{{this.rawmatterId}}">{{this.name}} - {{this.rawmatterId}}</option>
                        {{/each}}
                    </select>
                </label>

                <input type="submit" value="Generar Reporte" class="btn btn-primary" />
            </div>            
        </form>
    </div>

</div>