<link href="/assets/css/dashboard/dash_1.css" rel="stylesheet" type="text/css" />
{{!-- <link href="assets/css/dashboard/dash_2.css" rel="stylesheet" type="text/css" /> --}}

<div class="container">
    <div class="row layout-top-spacing">

        <a href="/user/list" class="col-lg-6 col-md-6 col-sm-12 col-12 layout-spacing">
            <div class="widget widget-table-one">
                <div class="widget-content">
                    <h5>Usuarios <span class="text-muted">({{userCount}})</span></h5>
                </div>
            </div>
        </a>

    </div>

    <div class="row layout-top-spacing">

        <a href="/control" class="col-lg-3 col-md-4 col-sm-6 col-12 layout-spacing">
            <div class="widget widget-table-one">
                <div class="widget-content">
                    <h5>Control <span class="text-muted">({{control}})</span></h5>
                </div>
            </div>
        </a>

        <a href="/control/machine" class="col-lg-3 col-md-4 col-sm-6 col-12 layout-spacing">
            <div class="widget widget-table-one">
                <div class="widget-content">
                    <h5>Máquinas <span class="text-muted">({{machine}})</span></h5>
                </div>
            </div>
        </a>

        <a href="/control/product" class="col-lg-3 col-md-4 col-sm-6 col-12 layout-spacing">
            <div class="widget widget-table-one">
                <div class="widget-content">
                    <h5>Productos <span class="text-muted">({{product}})</span></h5>
                </div>
            </div>
        </a>

        <a href="/control/rawmatter" class="col-lg-3 col-md-4 col-sm-6 col-12 layout-spacing">
            <div class="widget widget-table-one">
                <div class="widget-content">
                    <h5>Materia prima <span class="text-muted">({{rawmatter}})</span></h5>
                </div>
            </div>
        </a>

    </div>

    {{> statictics/transaction }}
    
    {{> statictics/control }}

</div>
